<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete</title>
</head>
<body>
    <form action="/todolist/<%= todo.id %>?_method=DELETE" method="post">
        <h1>do you want to delete <%= todo.name %>?</h1>
        <button>delete</button>
        <a href="/todolist">Back</a>
    </form>
</body>
</html> -->